@font-face {
    font-family: Marcellus SC;
    src        : url("../font/MarcellusSC-Regular.ttf");
}
@font-face {
    font-family: Lato;
    src        : url("../font/Lato-Regular.ttf");
}
@font-face {
    font-family: MontserratReg;
    src        : url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: MontserratMedium;
    src        : url("../font/Roboto-Medium.ttf");
}
@font-face {
    font-family: MontserratBold;
    src        : url("../font/Roboto-Bold.ttf");
}