$green: #4CAF50;
$blue: #3F51B5;
$red: #d62d20;
$yellow: #FF9800;
$white: #eee; // scaling... any units
$width: 40px;

body {
    background-color: $white;
}
// demo-specific

.showbox {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    right   : 0;
    @extend .middle-center;
}
// end demo-specific

.loader {
    position: relative;
    margin  : 0 auto;
    width   : $width;

    &:before {
        content    : '';
        display    : block;
        padding-top: 100%;
    }
}

.circular {
    animation       : rotate 2s linear infinite;
    height          : 100%;
    transform-origin: center center;
    width           : 100%;
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    margin          : auto;
}

.path {
    stroke-dasharray : 1, 200;
    stroke-dashoffset: 0;
    animation        : dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap   : round;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray : 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray : 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray : 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    0%,
    100% {
        stroke: $red;
    }

    40% {
        stroke: $blue;
    }

    66% {
        stroke: $green;
    }

    80%,
    90% {
        stroke: $yellow;
    }
}

#loading-bar .bar {
    -webkit-transition        : width 350ms;
    -moz-transition           : width 350ms;
    -o-transition             : width 350ms;
    transition                : width 350ms;
    background                : $color-secondary;
    position                  : fixed;
    z-index                   : 10002;
    top                       : 0;
    left                      : 0;
    width                     : 100%;
    height                    : 3px;
    border-bottom-right-radius: 1px;
    border-top-right-radius   : 1px; // @extend .z-depth-1;
}

#loading-bar .peg {
    position             : absolute;
    width                : 70px;
    right                : 0;
    top                  : 0;
    height               : 3px;
    opacity              : 0.45;
    -moz-box-shadow      : material-color("amber", "600") 1px 0 6px 1px;
    -ms-box-shadow       : material-color("amber", "600") 1px 0 6px 1px;
    -webkit-box-shadow   : material-color("amber", "600") 1px 0 6px 1px;
    box-shadow           : material-color("amber", "600") 1px 0 6px 1px;
    -moz-border-radius   : 100%;
    -webkit-border-radius: 100%;
    border-radius        : 100%;
}

#loading-bar-spinner {
    display : block;
    position: fixed;
    z-index : 10002;
    top     : 10px;
    left    : 10px;
}

#loading-bar-spinner .spinner-icon {
    width            : 16px;
    height           : 16px;
    border           : solid 2px transparent;
    border-top-color : $color-secondary;
    border-left-color: $color-secondary;
    border-radius    : 50%;
    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation   : loading-bar-spinner 400ms linear infinite;
    -ms-animation    : loading-bar-spinner 400ms linear infinite;
    -o-animation     : loading-bar-spinner 400ms linear infinite;
    animation        : loading-bar-spinner 400ms linear infinite;
}

.spinner {
    // margin    : 100px auto 0;
    // width     : 70px;
    margin-top: 16px;
    text-align: center;
}

.spinner > div {
    width            : 18px;
    height           : 18px;
    background-color : white;
    border-radius    : 100%;
    display          : inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation        : sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay        : -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay        : -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes sk-bouncedelay {
    0%,
    100%,
    80% {
        -webkit-transform: scale(0);
        transform        : scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform        : scale(1.0);
    }
}