<div class="vs-page-category">
    <div class="vs-page-body">
        <!-- <form name="categoryForm" ng-submit="updateData(categoryForm.$valid)" id="categoryForm"> -->
            <div class="grid-x">
                <div class="large-12 cell align-self-middle">
                    <div class="vs-box-page-content z-depth-low">
                        <div class="vs-box-page-header">
                            <div class="grid-x">
                                <div class="small-12 cell align-self-middle">
                                    <div class="vs-page-title middle-left">
                                        <img src="public/apps/img/icon/edit.png" class="mdi-right">
                                        <span class="vs-page-title font-bold">Edit Category</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-x">
                            <div class="large-12 cell">
                                <div class="vs-box-page-body">
                                    <div class="vs-loading" ng-show="loading">
                                        <div class="showbox">
                                            <div class="loader">
                                                <svg class="circular" viewBox="25 25 50 50">
                                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-x grid-padding-x">
                                        <div class="small-12 cell">
                                            <label for="">Category Name</label>
                                            <input type="text" placeholder="Nama..." ng-model="category.name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vs-box-page-footer">
                            <div class="grid-x">
                                <div class="small-12 cell text-right">
                                    <button ui-sref="category-list" class="button vs-flat-button btn-smoke margin-bottom-0 margin-right-8px">Back</button>
                                    <button ng-click="updateData()" class="button vs-flat-button btn-success margin-bottom-0" id="btn-save" ng-disabled="category.name ==null">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>
