.vs-box-form {
    position: relative;
}

.vs-flat-form {
    .vs-input-group-inside-right {
        position: relative;

        .input-flat-icon {
            position : absolute;
            right    : 8px;
            top      : 50%;
            transform: translateY(-50%);
        }

        input {
            padding-right: 48px;
        }
    }
}
