.vs-content {
    overflow-x: auto;
}

.vs-page-header {
    padding-top   : 16px;
    padding-bottom: 16px;
    background    : white;
    margin-bottom : 16px;
}

.vs-page-title {
    img {
        width: 32px;
    }

    .vs-page-title {
        font-size: 16px;
    };
}

.vs-box-page-content {
    background: white;
}

.vs-box-page-header {
    padding      : 12px 16px;
    border-bottom: 2px solid $color-smoke;
}

.vs-box-page-header-fluid {
    padding: 20px 16px;
}

.vs-box-page-body {
    padding : 14px 0;
    position: relative;
}

.vs-box-page-footer {
    padding   : 16px;
    border-top: 2px solid $color-smoke;
}

.vs-page-body {
    // margin-top   : 16px;
    // margin-bottom: 16px;
    margin: 16px;
}

.vs-page-footer {
    font-size: 14px;
}

.breadcrumbs {
    li {
        @extend .font-bold;
    }
}

hr {
    margin: 16px 0;
}

.box-payment {
    height : 100%;
    padding: 16px;

    [type='text'] {
        // border: 0;
    }
}

.input-group {
    margin-bottom: 12px;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    height       : 34px;
    margin-bottom: 8px;
    font-size    : 14px;
}

select {
    padding-top   : 4px;
    padding-bottom: 4px;
    height        : 34px;
}

.vs-info-supplier {
    font-size: 14px;
}

.vs-loading {
    width     : 100%;
    height    : 100%;
    background: rgba(255,255,255,0.8);
    position  : absolute;
    top       : 0;
    left      : 0;
    z-index   : 98;
}
